.btn_style2 {
    padding: 13px;
    width: 131px;
    background: linear-gradient(to right,transparent,white);
    background-color: white;
    border-width: 1px;
    border: 1px solid #B379DC;
    transition: border-color 1s,background-color 1s,background 1s,color 1s;
    color: #B379DC;
    border-radius: 5px;
    font-family: 'Poppins-Medium';
    font-size: 14px;
    margin-left: 35px;
}
.btn_style:hover, .btn_style:focus {
    background: linear-gradient(to right,transparent,white);
    background-color: white;
    border-color: #B379DC;
    color: #B379DC;
}
.btn_style2:hover, .btn_style2:focus {
    background: linear-gradient(to right,transparent,#B379DC) border-box;
    background-color: #6362D7;
    color: white;
    border-color: transparent;
}

.btn_div {
    padding-top: 35px;
    z-index: 1;

}

#header_style {
    display: flex;
    position: relative;
    top: 0px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 18px;
    background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-position: top;
    height: 825px;
}

.flex_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header_title {
    font-size: 46px;
    text-transform: capitalize;
}

#title{
    font-family: 'Poppins-Bold';
}

.header_des{
    font-size: 14px;
    margin-top: 20px;
    flex-wrap: nowrap;
    width: 532px;
    text-align: center;
}
/*
#bg1 {
    position:absolute;
    z-index: 0;
    top: 0px;
    width: 100%;
}
*/

